body {
    font-family: var(--police-corps);
    font-size: var(--police-taille-md);
    line-height: var(--interligne-base);
    background-color: var(--couleur-fond-base);
}

h1 {
    font-size: var(--police-taille-xl);
    font-weight: bold;
}

h2 {
    font-size: var(--police-taille-lg);
    font-weight: bold;
}

h3 {
    font-size: var(--police-taille-md);
    font-weight: bold;
}
