<IfModule mod_rewrite.c>
  RewriteEngine On

  # Définir la racine du projet (ici le dossier appliLivraison)
  RewriteBase /interfaceWeb24610/TP2_2025/

  # Ne pas rediriger si le fichier ou dossier existe
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Sinon, rediriger tout vers index.php
  RewriteRule ^ index.php [QSA,L]
</IfModule>
