.bouton {
  background-color: tomato;
  color: white;
  border: 2px solid darkred;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  padding: 5px;
}

.btn-cancel {
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
