.grille {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: var(--espace-md);
}

.carte {
    padding: var(--espace-md);
    border-radius: 5px;
    background-color: color-mix(in oklab, var(--couleur-accent), var(--couleur-primaire));
    color: var(--couleur-texte);
    cursor: pointer;
}
